.chatbox{
    flex:1;
    background-color: #343541;
    position: relative;
    overflow-y: scroll;
}
.chat-input-holder{
    padding:24px ;
    position: fixed;
    text-align: center;
    bottom: 0;left: 0;right: 0;
}
.chat-input-textarea{
    background-color: #40414f;
    width: 50%;
    padding: 12px;
    color: white;
    font-size: 1.25em;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.chat-log{
    text-align: left;
    
    
}

.clear-button{
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6%;
    color: white;
    background-color: transparent;
}

.clear-button:hover{
    background-color: rgba(248, 61, 61, 0.25);
}